
.inicio__tarjeta{
    border-radius: 20px;
    background-color: $ColorBlanco;
    margin: 2%;
    height: 520px;
    min-height: 520px;
    width: calc(330px - 10px);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.151);
    &:hover{
        transition: 0.2s;
        transform: scale(102%);
    }
}


.inicio__cuadro{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.inicio__puntuacion{
    margin: 2% 5% ;
    width: 40%;
}


.inicio__Buscador{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid;
    border-color: $ColorAzul;
    border-radius: 500px;
    font-size: 15px;
    padding: 5%;
    width: 70%;
}


.categorias{
    margin: 5%;
    padding: 7% 2%;
    grid-area: aside;
    background-color: $ColorAzul;
    border-radius: 20px;
    text-align: center;
    height: calc(600px - 100px);

}

.categoriatexto{
    display:inline;
    font-family: 'Oleo Script', cursive;
    color: $ColorBlanco;
    text-align: center;
    margin: 20px 20px;
    font-size: 30px;
}


.inicio__btn__categoria{
    font-family: 'Varela Round', sans-serif;    
    margin: 15%;
    text-decoration: none;
    color: $ColorBlanco;
    background-color: $ColorAzul;
    border-radius: 10px;
    text-align: start;
    display: block;
}